
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.navbar-brand {
    font-weight: bold;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    display: flex;
    
}



.imgcarousel{
    height: 50%;
    width: 50%;
    
}


section {
    padding: 60px 0;
}

h2 {
    font-weight: bold;
}

footer p, footer a {
    margin: 0;
}

footer a:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#sobre-mi img {
    border: 5px solid #0069d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

